<html ng-app="myApp">

<head>
    <script src="node_modules/angular/angular.js" />
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="myController as my" style="margin: 20px">

    <p>{{my.customer.name}}</p>
    <hr>

    <button class="btn button" ng-click="my.changeCustomer()">Set Customer</button>
    <h2>NG-IF</h2>
    <div>
        <personal-view ng-if="my.customer.type === 'P'" customer="my.customer" />
    </div>
    <div>
        <business-view ng-if="my.customer.type === 'B'" customer="my.customer" />
    </div>
    <h2>NG-SHOW</h2>
    <div>
        <personal-view ng-show="my.customer.type === 'P'" customer="my.customer" />
    </div>
    <div>
        <business-view ng-show="my.customer.type === 'B'" customer="my.customer" />
    </div>
    <script src="app/app.js"></script>
    <script src="app/myController.js"></script>
    <script src="app/customerService.js"></script>
</body>

</html>